* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: #000000;
}

.navbar.is-primary {
  background-color: #57C271;
}

.container {
  display: flex;
}

.column1 {
  width: 10%;
}

.column2 {
  width: 20%;
}

.column3 {
  width: 30%;
}

.column4 {
    width: 40%;
}
.column5 {
    width: 50%;
}
.column9 {
    width: 90%;
}

.footer {
    background-color: #B4E4C0;
    color: #000000;
    padding: 2rem 1.5rem;
}